* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    margin: 10px;
    background-color: lightgrey;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 30px;
}

input{
    border: none;
    border-bottom: 1px solid;
    background-color: lightgray;
}

.busquedas{
    margin: 10px;
    background-color: lightgrey;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 30px;
    gap: 30px;
}

.cajaResultados{
    display: flex;
    align-self: center;
    width: fit-content;
    height: fit-content;
    background-color:lightsteelblue;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    margin-right: 30px;
}

.listaResultados{
    list-style-type: none;
    margin: 0 auto;
    padding: 10px;
}

.btns{
    gap: 10px;
}

.cajaResultadosBus{
    background-color:lightsteelblue;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    height: fit-content; 
}
